<tui-root [attr.tuiTheme]="theme()" class="root">
  <div class="tui-container tui-container_adaptive">
    <form [formGroup]="form">
      <!-- <div class="tui-form__row">
        <tui-input formControlName="name">
          Название траты, которую хочешь разделить
          <input tuiTextfieldLegacy />
          <span class="tui-required"></span>
        </tui-input>
        <tui-error
          formControlName="name"
          [error]="[] | tuiFieldError | async"
        />
      </div> -->

      <div class="tui-form__row multi-select-row">
        <tui-multi-select
          class="select"
          placeholder="Имя кореша"
          formControlName="participants"
          [(search)]="participantsSearch"
          [stringify]="participantsStringify"
        >
          Выбери участников
          <tui-data-list-wrapper
            *tuiDataList
            tuiMultiSelectGroup
            [emptyContent]="emptyParticipants"
            [itemContent]="participantContent"
            [items]="foundParticipants()"
          />
          <ng-template #participantContent let-data>
            <div class="template">
              {{ data.name }}
            </div>
          </ng-template>
          <ng-template #emptyParticipants>
            На нашел кореша? Нажми плюс и добавь его!
          </ng-template>

          <span class="tui-required"></span>
        </tui-multi-select>

        <button
          tuiIconButton
          type="button"
          iconStart="@tui.plus"
          [disabled]="foundParticipants().length !== 0"
          (click)="handleAddParticipant()"
        >
          +
        </button>
      </div>

      @for (item of getAmountsControls(); track item[0]) {
      <div class="tui-form__row">
        <tui-input-number
          [formControl]="item[1]"
          [tuiTextfieldPrefix]="'RUB' | tuiCurrency"
        >
          {{ item[0] }}
        </tui-input-number>
      </div>
      }

      <div class="tui-form__row">
        <tui-island size="l">
          @if (transfers().length > 0) {

          <ul class="tui-list">
            @for (item of transfers(); track item) {
            <li class="tui-list__item">
              {{ item[0] }} -> {{ item[1] }}: {{ item[2] }}
              {{ "RUB" | tuiCurrency }}
            </li>

            }
          </ul>
          } @else { Никто никому ничего не должен! }
        </tui-island>
      </div>

      <tui-error
        formControlName="participants"
        [error]="[] | tuiFieldError | async"
      />
    </form>
  </div>
</tui-root>
